*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100; */
}
  

.header-container {
    width: 1600px;
    max-width: 1600px;
    height: 92px;
    background-color:#FFFFFF;
    margin: 0px auto;
}

.header-container .header-content {
    display: flex;
    gap: 346px;
    justify-content:center ;
}

.header-container .left-image {
    margin-left: 110px; 
    margin-top: 16px;
    width: 139px;
    height: 60px;
}
.middle-navs {
    display: flex;
    gap: 32px;
    margin-top: 34px;
    font-size: 16px;
    
}

.middle-navs li {
    list-style-type: none;
    color: #000000;
}
 
.middle-navs li a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    
}
.header-container  .right-btn {
    margin-right: 130px;
    margin-top: 24px;
    padding: 12.5px 16px;
    background-color: #469165;
    color: #FFFFFF;
    width: 164px;
    height: 44px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.main-container {
    text-align: center;
    background-image: url(../assets/hero-bg.png);
    width: 1600px;
    max-width: 1600px;
    height: 674px;
    justify-content: center;
    padding: 115.5px 120px;
    margin: 0px auto;
    
}
    
.main-container .mela-para li {
    background: #FFFFFF; 
    list-style-type: none;
    padding: 12px 8px;
    border-radius: 1000px;
    color: #469165;
    font-size: 16px;
    font-weight: 600px;
    margin-bottom: 16px;
    margin: 0px 565.5px;
    
    
} 

.main-container .big-text {
    line-height: 84px;
    font-size:72px ;
    font-weight: bold;
    margin-bottom: 16px;
}
.main-container .big-text #white {
    color: #FFFFFF;
}

.main-container .big-text #green {
    color: #30B868;
}

.main-container .small-text {
    font-size: 18px;
    line-height: 24px ;
    color: #FFFFFF;
    width: 1360px;
    height: 60px;
    align-items: center;
    margin-bottom: 32px;
}

.main-container .para-nav .para-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 16px  ;
    list-style-type: none;
}

.main-container .para-nav .para-list #building {
    width: 251px;
    height: 52px;
    padding-top: 16.5px;
    padding-bottom: 16.5px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #30B868;
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 4px;
    font-weight: 500px;
    
}
.main-container .para-nav .para-list a {
    text-decoration: none;
    color: #FFFFFF;
}

.main-container .para-nav .para-list #work{
     width: 198px;
    height: 52px;
    padding-top: 15.5px;
    padding-bottom: 15.5px;
    padding-right: 16px;
    padding-left: 16px;
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 4px;
    font-weight: 500px;
    border: 1px solid #FFFFFF;
    text-align: center;
    
    
}

.info-container .top-text {
    width: 1360px;
    max-width: 1600px;
    height: 152px;
    align-items: center;
    /* border: 2px solid red; */
    margin: 0px auto;
    margin-bottom: 44px;
}

.info-container .top-text .large-text {

    color: #001931;
    font-size: 48px;
    font-weight: bold;
    width: 1360px;
    height: 116px;
    text-align: center ;
    padding:  60px 5px ;
    margin-bottom: 16px;
}
.info-container .top-text .mini-text {

    color: #627382;
    font-size: 16px;
    
    width: 1360px;
    
    line-height: 20px;
    text-align: center ;
    padding-bottom: 0px;
}
#note-box .note{
    display: flex;
    width: 1360px;
    height: 300px;
    max-width: 1600px;
    align-items: center;
    margin: 0px auto;
    gap: 24px;
    margin-bottom: 120px;
}

#note-box .note-card  {
    /* background-color: #971414; */
    width: 322px;
    height: 300px;
    text-align: center;
    border-radius: 8px;
    gap: 24px;
    box-shadow: 0px 0px 1px 0px #001931;
}

#note-box .note-card img{
    background-color: #F95555;
    margin: 69.5px auto;
    margin-bottom: 16px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 15px;
}
 
#note-box .note-card  h4{
    width: 274px;
    font-size: 24px;
    font-weight: 500;
    color: #001931;
    margin-bottom: 16px;
    text-align: center;
    /* border: 1px solid red; */
    margin: 0px auto;
    margin-bottom: 16px;
}

#note-box .note-card  p{
    width: 276.33px;
    height: 40px;
    font-size: 16px;
    line-height: 20px ;
    text-align: center;
    margin: 0px auto;
    color: #627382;
}

.solution {
    width: 1360px;
    max-width: 1600px;
    height: 600px;
    margin: 0px auto;
    margin-bottom: 120px;

}

.solution .solution-container {
    display: flex;
    gap: 60px;
}

.solution .solution-container .solution-content {
    width: 700px;
    height: 396px;
    margin-top: 102px;
}

.solution .solution-container .solution-content h5 {
    width: 700px;
    height: 20px;
    font-size: 16px;
    font-weight: 400px;
    color: #469165;
    margin-bottom: 16px;
}
.solution .solution-container .solution-content h2{
    width: 700px;
    height: 116px;
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom:16px ;
}
.solution .solution-container .solution-content p{
    width: 700px;
    height: 60px;
    font-size: 16px;
    font-weight: 400px;
    color: #627382;
    margin-bottom: 40px;
}


.solution .solution-container .solution-content li {
    list-style-type: none;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 400px;
    color: #001931;
    width: 700px;
    height: 20px;
    /* background-color: #30B868; */
    padding-bottom: 3.5px;
    
}
.solution .solution-container .solution-content li img {
    width: 16.25px;
    height: 16.25px;
    margin-top: 3.5px 1.88px;
    padding-top: 3.5px;
}
